export(CN)
export(CNs)
export(CV)
export(CVs)
export(ki)
export(lu)
export(multiCol)
export(multiColLM)
export(perturb.n)
export(perturb)
export(PROPs)
export(RdetR)
export(SLM)
export(VIF)
importFrom("stats", "cor", "lm", "quantile", "rnorm", "var")
